<div role="navigation" aria-label="breadcrumbs navigation">
  <ul class="wy-breadcrumbs">
    {%- if page %}
      {%- if page.collection == "posts" %}
        <li><a href="{{ '/' | absolute_url }}">Posts</a> &raquo;</li>
        <li>{{ page.title }}</li>
      {%- else %}
        {%- assign page_directories = page.dir | split: '/' %}
        <li><a href="{{ '/' | absolute_url }}">Docs</a>&raquo;</li>
        {%- for dir in page_directories %}
        {%- if forloop.first == false %}
        <li>{{ dir | capitalize }} &raquo;</li>
        {%- endif %}
        {%- endfor %}
        <li>{{ page.title }}</li>
      {%- endif %}
    {%- endif %}
    <li class="wy-breadcrumbs-aside">
      {%- if site.edit_on_github and page and page.name != "search.html" %}
        {% comment %} For the repo branch first try config.yml value, then GitHub Page Metadata {% endcomment %}
        {% assign repo_branch = site.github_branch | default: site.github.source.branch | default: 'main' %}
        <a href="{{ site.repo_url | url }}/blob/{{ repo_branch }}{%- if site.github.source.path %}{{ site.github.source.path }}{% endif %}/{{ page.path }}" class="icon icon-github" target="_blank"> Edit on GitHub</a>
      {%- endif %}
    </li>
  </ul>

  {%- if (site.prev_next_buttons_location == 'top' or  site.prev_next_buttons_location =='both') and (previous_page or next_page) %}
    <div class="rst-breadcrumbs-buttons" role="navigation" aria-label="breadcrumb navigation">
      {%- if next_page %}
        <a href="{{ next_page.url | absolute_url }}" class="btn btn-neutral float-right" title="{{ next_page.title }}">Next <span class="icon icon-circle-arrow-right"></span></a>
      {%- endif %}
      {%- if previous_page %}
        <a href="{{ previous_page.url | absolute_url }}" class="btn btn-neutral" title="{{ previous_page.title }}"><span class="icon icon-circle-arrow-left"></span> Previous</a>
      {%- endif %}
    </div>
  {%- endif %}

  <hr/>
</div>
