<div role="navigation" aria-label="breadcrumbs navigation">
  <ul class="wy-breadcrumbs">
    {%- if page %}
      {%- if page.collection == "posts" %}
        <li><a href="{{ site.url | url }}">Posts</a> &raquo;</li>
        <li>{{ page.title }}</li>
      {%- else %}
        {%- assign page_directories = page.dir | split: '/' %}
        <li><a href="{{ site.url | url }}">Docs</a></li>
        {%- for dir in page_directories %}
        <li>{{ dir | capitalize }} &raquo;</li>
        {%- endfor %}
        <li>{{ page.title }}</li>
      {%- endif %}
    {%- endif %}
    <li class="wy-breadcrumbs-aside">
      {%- unless site.edit_on_github == false %}
        <a href="{{ site.repo_url | url }}/blob/master/{{ page.path }}" class="icon icon-github"> Edit on GitHub</a>
      {%- endunless %}
    </li>
  </ul>

  {%- include paginationlist.html %}
  {%- if (site.prev_next_buttons_location == 'top' or  site.prev_next_buttons_location =='both') and (previous_page or next_page) %}
    <div class="rst-breadcrumbs-buttons" role="navigation" aria-label="breadcrumb navigation">
      {%- if next_page %}
        <a href="{{ next_page.url | url }}" class="btn btn-neutral float-right" title="{{ next_page.title }}">Next <span class="icon icon-circle-arrow-right"></span></a>
      {%- endif %}
      {%- if previous_page %}
        <a href="{{ previous_page.url | url }}" class="btn btn-neutral" title="{{ previous_page.title }}"><span class="icon icon-circle-arrow-left"></span> Previous</a>
      {%- endif %}
    </div>
  {%- endif %}

  <hr/>
</div>
