<div role="navigation" aria-label="breadcrumbs navigation">
  <ul class="wy-breadcrumbs">
    <li><a href="{{ nav.homepage.url|url }}">Docs</a> &raquo;</li>
    {% if page %}
      {% for doc in page.ancestors %}
        {% if doc.link %}
          <li><a href="{{ doc.link|e }}">{{ doc.title }}</a> &raquo;</li>
        {% else %}
          <li>{{ doc.title }} &raquo;</li>
        {% endif %}
      {% endfor %}
    {% endif %}
    {% if page %}<li>{{ page.title }}</li>{% endif %}
    <li class="wy-breadcrumbs-aside">
      {% if page and page.edit_url %}
        <a href="{{ page.edit_url }}"
        {%- if config.repo_name|lower == 'github' %}
          class="icon icon-github"
        {%- elsif config.repo_name|lower == 'bitbucket' %}
          class="icon icon-bitbucket"
        {%- elsif config.repo_name|lower == 'gitlab' %}
          class="icon icon-gitlab"
        {% endif %}> Edit on {{ config.repo_name }}</a>
      {% endif %}
    </li>
  </ul>

  {%- include paginationlist.html %}
  {%- if (site.prev_next_buttons_location == 'bottom' or  site.prev_next_buttons_location =='both') and (previous_page or next_page) %}
    <div class="rst-breadcrumbs-buttons" role="navigation" aria-label="breadcrumb navigation">
      {%- if next_page %}
        <a href="{{ next_page.url | url }}" class="btn btn-neutral float-right" title="{{ next_page.title }}">Next <span class="icon icon-circle-arrow-right"></span></a>
      {%- endif %}
      {%- if previous_page %}
        <a href="{{ previous_page.url | url }}" class="btn btn-neutral" title="{{ previous_page.title }}"><span class="icon icon-circle-arrow-left"></span> Previous</a>
      {%- endif %}
    </div>
  {%- endif %}

  <hr/>
</div>
